<input type="hidden" id="score" value="<%= score %>" />
<div class="resultRoot">
  <div class="resultCard">
    <h1>Score: <%= score %></h1>
    <h2>Best: <%= Bscore %></h2>
    <h2>Name: <%= name %></h2>
  </div>
</div>
