<input type="hidden" id="score" value="<%= score %>" />
<div class="resultRoot">
  <div class="resultCard">
    <h2><%= name %></h2>
    <h1 style="margin: 8px;">Score: <%= score %></h1>
    <h2 style="margin: 8px;">Best: <%= Bscore %></h2>
  </div>
</div>
